
/* openerp base style modification */

label {
  display: inline-block;
  
}

.openerp {
    text-shadow: none;
}

.openerp .oe_application {
  height: 95%;
}
.openerp .oe_application .label a {
    color: white;
}

.openerp .oe_leftbar {
    border-right: 0px solid #afafb6;
    -moz-box-shadow: inset 0 5px 5px #222;
    -webkit-box-shadow: inset 0 5px 5px#222;
    box-shadow: inset 0 5px 5px #222;
}

.openerp .oe_form .oe_form_embedded_html {
    width: 100%;
    margin-left: 0px;
}

.openerp .oe_form_sheet_width {
    min-width: 650px;
    max-width: 92%;
    margin: 0 auto;
}

.openerp .oe_mail_wall .oe_mail {
    margin: 16px;
    width: auto;
}

.openerp .oe_form div.oe_chatter {

    max-width: 100%;
}

.openerp .oe_followers {
    width: 200px;
}

.openerp .oe_form .oe_inline {
    width: auto;
}

.openerp .oe_form .oe_inline .oe_form_field {
    width: 100%;
}

.openerp .oe_record_thread {
    margin-right: 252px;
}

.openerp .oe_secondary_submenu .oe_menu_toggler:before {
    color:white;
}

/* .openerp .oe_application .btn {
    color:white;
}*/

.ui-autocomplete {
    font-family: 'Ubuntu', sans-serif;
}

.ui-autocomplete li { 
    background: #232327;
    background: rgba(0, 0, 0, 0.8);
    border: 0px solid lightGrey;
    text-shadow: none;
    margin: 5px;
    padding: 5px;
    color: white;
     -moz-box-shadow: inset 0 5px 5px #222;
    -webkit-box-shadow: inset 0 5px 5px#222;
    box-shadow: inset 0 5px 5px #222;
}

.ui-autocomplete a{ 
    color: #222222;
    background-color: white;
}

.ui-autocomplete em {
    font-weight: bold;
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
.carousel-indicators .active {
  background-color: #fff;
}

.openerp .oe_form_nosheet {
    margin: 0px;
}
.openerp .oe_topbar_avatar {
    width: 24px;
    height: 24px;
    border-radius: 3px 3px 3px 3px;
}

.openerp .oe_menu_more_link {
    height: 24px;
    display: block;
    padding: 10px 10px;
}

 .openerp .oe_user_menu {
    height: 24px;
    display: block;
    padding: 5px 10px;
}

.navbar {
  margin-bottom: 0px;
}

body {
  padding-top: 40px;
}

.oe_calendar{
  padding: 20px;
} 

.openerp .oe_form_nosheet {
    margin: 10px;
}

.openerp table {
  width:100%;
}

.process_canvas svg {
  height: 500px;
  padding: 0px;
}

.openerp .oe_searchview {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  body .frame {
    /*position: absolute;*/
    top: 0;
    width: 200%;
    height: 100%;
    }
    body .openerp .navbar .navbar-inner {
      border-radius: 0;
      padding-left: 5px; }
    body .openerp .menu {
      height: 100%;
      /* background-color: #3D6AA2; */ }
      body .openerp .menu.collapse {
        float: left;
        height: 100% !important;
        width: auto; }
      body .openerp .menu.collapse.height {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.35s ease;
        -moz-transition: height 0.35s ease;
        -o-transition: height 0.35s ease;
        transition: height 0.35s ease; }
      body .openerp .menu.collapse.width {
        position: relative;
        width: 0;
        overflow: hidden !important;
        -webkit-transition: width 0.35s ease;
        -moz-transition: width 0.35s ease;
        -o-transition: width 0.35s ease;
        transition: width 0.35s ease; }
      body .openerp .menu.collapse.in.width {
        width: auto; }
      body .openerp .menu.collapse.in.height {
        height: auto; }
      body .openerp .menu .collapse-inner {
        position: relative;
        width: 250px;
        height: 100%; }
      body .openerp .menu .navbar .navbar-inner {
        text-align: center;
        color: grey;
        font-size: 1.2em;
        line-height: 38px; }
      body .openerp .menu .nav-stacked {
        padding: 0 10px; }
    body .openerp .view {
      width: 50%;
      height: 100%;
      overflow: hidden; }
      body .openerp .view .navbar .navbar-inner .btn-navbar {
        display: block;
        float: left; }
      body .openerp .view #content {
        margin: auto;
        text-align: justify; }

.openerp .oe_login {
    background-image: url("/web_bootstrap/static/src/img/background_linen.png");
}

body .openerp .menu_grey  {
    background: #1e1e1e;
    background: rgba(30, 30, 30, 0.94);
    background-image: url("/web_bootstrap/static/src/img/background_linen.png");
    color: #eeeeee;
    text-align: left;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
}

.openerp .oe_user_menu {
    
    padding: 4px;
    display: inline;
    float: none;
    color: #eeeeee;
}

.openerp .oe_user_menu a {
    padding: 0px;
    float: left;
    color: #eeeeee;
}

.openerp i {
    margin-right: 3px;
}

.openerp .oe_user_menu .oe_dropdown_menu {
    left: 0px;
    width: 225px;
}

.openerp .oe_user_menu li:hover {
    width: 225px;
    padding: 0px;
}

.openerp .oe_user_menu li:hover {
    background: #123456;
}



.openerp .oe_secondary_menus_container2 a{
  color: white;
}



li.oe_secondary_menu_subsection2 {
  background-color: invisible;
  padding-right: 0px;
  padding-left: 5px;
}

.openerp .oe_secondary_menus_container2 .nav-list {
  padding: 0px;
}

/*.openerp .oe_secondary_submenu2 > li:hover */

.openerp .oe_secondary_submenu2 .oe_active, .openerp li.oe_secondary_menu_section2 > a{
    background: #232327;
    background: rgba(0, 0, 0, 0.5);
    border: 0px solid lightGrey;
    text-shadow: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 5px;
    color: white;
}

li.oe_secondary_menu_section2 li:hover {
    background: #232327;
    background: rgba(0, 0, 0, 0.5);

}

li.oe_secondary_menu_section2 a:hover {
    background: #232327;
    background: rgba(0, 0, 0, 0.5);
    color: #c8ff00;
}

li.oe_secondary_menu_subsection2.opened {
  background: #232327;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 3px black;
  -webkit-box-shadow: inset 0 0 3px black;
  box-shadow: inset 0 0 3px black;
}

li.oe_secondary_menu_subsection2.opened > a {
  color: #c8ff00;
  background: #232327;
  background: rgba(0, 0, 0, 0.5);
}

.oe_secondary_menu2 .nav-list > li > a {
  text-shadow: none;
}

.oe_secondary_menus_container2 {
  margin-top: 15px;
}

.quick-btn {
  background: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  -moz-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444444;
  display: inline-block;
  height: 60px;
  margin: 8px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  width: 90px;
  position: relative;
}

.quick-btn span {
display: block;
}
.quick-btn .label {
position: absolute;
right: -5px;
top: -5px;
}

.progress.vertical {
width: 20px;
height: 100%;
float: left;
margin-right: 20px;
background-color: #f9f9f9;
background-image: -moz-linear-gradient(left, #f5f5f5, #f9f9f9);
background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f5f5f5), to(#f9f9f9));
background-image: -webkit-linear-gradient(left, #f5f5f5, #f9f9f9);
background-image: -o-linear-gradient(left, #f5f5f5, #f9f9f9);
background-image: linear-gradient(to right, #f5f5f5, #f9f9f9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=1);
}

.vertical-progressbar-span {
height: 100px;
}

.oe_kanban_content .progress {
height: 10px;
display: inline-block;
width: 180px;
margin-bottom: 0px;
overflow: hidden;
background-color: #f7f7f7;
background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
background-repeat: repeat-x;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.action-panel {
  color: white;
  font-size: 12px;
  padding: 2px;
}
