
/* openerp base style modification */

label {

  display: inline-block;
  
}

.openerp .oe_application .label a {

	color: white;
}
.openerp .oe_form .oe_form_embedded_html {

	width: none;
	margin-left: 0px;
}