
/* openerp base style modification */

label {
  display: inline-block;
  
}

.openerp .oe_application .label a {
	color: white;
}

.openerp .oe_leftbar {
	border-right: 0px solid #afafb6;
    -moz-box-shadow: inset 0 5px 5px #222;
    -webkit-box-shadow: inset 0 5px 5px#222;
    box-shadow: inset 0 5px 5px #222;
}

.openerp .oe_form .oe_form_embedded_html {
	width: 100%;
	margin-left: 0px;
}

.openerp .oe_form_sheet_width {
	min-width: 650px;
	max-width: 92%;
	margin: 0 auto;
}

.openerp .oe_mail_wall .oe_mail {
	margin: 16px;
	width: auto;
}

.openerp .oe_form div.oe_chatter {

	max-width: 100%;
}

.openerp .oe_followers {
	width: 200px;
}


.openerp .oe_form .oe_inline {
	width: auto;
}

.openerp .oe_form .oe_inline .oe_form_field {
	width: 100%;
}

.openerp .oe_record_thread {
	margin-right: 252px;
}

.openerp .oe_secondary_submenu .oe_menu_toggler:before {
	color:white;
}

.openerp .oe_application .btn {
	color:white;
}

.ui-autocomplete {
	font-family: 'Ubuntu', sans-serif;
}

.ui-autocomplete li { 
	background: #232327;
    background: rgba(0, 0, 0, 0.8);
    border: 0px solid lightGrey;
    text-shadow: none;
    margin: 5px;
    padding: 5px;
    color: white;
     -moz-box-shadow: inset 0 5px 5px #222;
    -webkit-box-shadow: inset 0 5px 5px#222;
    box-shadow: inset 0 5px 5px #222;
}

.ui-autocomplete a{ 
	color: #222222;
	background-color: white;
}

.ui-autocomplete em {
	font-weight: bold;
}

.carousel-indicators {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  margin: 0;
  list-style: none;
}
.carousel-indicators li {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  background-color: #ccc;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}
.carousel-indicators .active {
  background-color: #fff;
}

.openerp .oe_form_nosheet {
    margin: 0px;
}
.openerp .oe_topbar_avatar {
    width: 24px;
    height: 24px;
    border-radius: 3px 3px 3px 3px;
}

.openerp .oe_menu_more_link {
    height: 24px;
    display: block;
    padding: 10px 10px;
}

 .openerp .oe_user_menu {
    height: 24px;
    display: block;
    padding: 5px 10px;
}

.navbar {
  margin-bottom: 0px;
}

body {
  padding-top: 40px;
}

.oe_calendar{
  padding: 20px;
} 

.openerp .oe_form_nosheet {
    margin: 10px;
}